@media (min-width:320px) and (max-width:575.99px) {

    .navbar-toggler {
        border-color: white;

    }

    .navbar-toggler i {
        color: white;

    }

    .navbar-toggler:focus {
        outline: 0px !important;
        box-shadow: 0px 0px 0px transparent !important;
    }

    .navbar-collapse{
        
         background: rgb(145, 36, 178);
        border-radius: 10px;

    }

    .navbar-nav {
       
        justify-content: center;
        align-items: center;
        row-gap: 35px;
        padding: 30px 0px;
        margin: 30px 0px;
    }
    .nav-item:hover .nav-link{
        color: #BBBBCB;
    }
    .nav-btn {
	padding: 12px 34px;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	margin-left: 0px;
	display: inline-block;
}
.nav-btn-box{
    text-align: center;
    margin-bottom: 30px;
}


/* Banner part */
.banner h1 {
	font-size: 34px;
	line-height: 58px;
	text-align: center;
}
.banner p {
	font-size: 14px;
	padding-bottom: 39px;
	width: auto;
	text-align: center;
}
.banner .banner-btn {
	padding: 8px 24px;
	font-size: 14px;
	
}
.box {
	justify-content: center;
}
.banner .banner-btn-pricing {
	font-size: 14px;
	
	margin-left: 20px;
	
}
.banner img{
    width: 92%;
    margin-top: 50px;
}
/* Banner part */
/* Work part */
.common-title h2 {
	font-size: 36px;
	text-align: center;
}
.common-title p {
	font-size: 14px;
	width: auto;
	text-align: center;
}
.work .col-lg-7 h3 {
	font-size: 26px;

	padding-top: 13px;
	padding-bottom: 0px;
}
/* Work part */
.feature .common-title h2 {
	width: auto;
	margin: auto;
	text-align: center;
}

.feature .card .card-text {
	font-size: 14px;
	
	width: auto;
}
  

}
@media (min-width:576px) and (max-width:767.99px) {

    .navbar-toggler {
        border-color: white;

    }

    .navbar-toggler i {
        color: white;

    }

    .navbar-toggler:focus {
        outline: 0px !important;
        box-shadow: 0px 0px 0px transparent !important;
    }

    .navbar-collapse{
        
         background: rgb(145, 36, 178);
        border-radius: 10px;

    }

    .navbar-nav {
       
        justify-content: center;
        align-items: center;
        row-gap: 35px;
        padding: 30px 0px;
        margin: 30px 0px;
    }
    .nav-item:hover .nav-link{
        color: #BBBBCB;
    }
    .nav-btn {
	padding: 12px 34px;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	margin-left: 0px;
	display: inline-block;
}
.nav-btn-box{
    text-align: center;
    margin-bottom: 30px;
}


/* Banner part */
.banner h1 {
	font-size: 41px;
	line-height: 58px;
	text-align: center;
}
.banner p {
	font-size: 14px;
	padding-bottom: 39px;
	width: auto;
	text-align: center;
}
.banner .banner-btn {
	padding: 8px 24px;
	font-size: 14px;
	
}
.box {
	justify-content: center;
}
.banner .banner-btn-pricing {
	font-size: 14px;
	
	margin-left: 20px;
	
}
.banner img {
	width: 96%;
}
/* Banner part */
/* Work part */
.common-title h2 {
	font-size: 36px;
	text-align: center;
}
.common-title p {
	font-size: 14px;
	width: auto;
	text-align: center;
}
.work .col-lg-7 h3 {
	font-size: 26px;

	padding-top: 13px;
	padding-bottom: 0px;
}
/* Work part */
.feature .common-title h2 {
	width: auto;
	margin: auto;
	text-align: center;
}

.feature .card .card-text {
	font-size: 14px;
	
	width: auto;
}
  

}
@media (min-width:768px) and (max-width:991.99px) {

    .navbar-toggler {
        border-color: white;

    }

    .navbar-toggler i {
        color: white;

    }

    .navbar-toggler:focus {
        outline: 0px !important;
        box-shadow: 0px 0px 0px transparent !important;
    }

    .navbar-collapse{
        
         background: rgb(145, 36, 178);
        border-radius: 10px;

    }

    .navbar-nav {
       
        justify-content: center;
        align-items: center;
        row-gap: 35px;
        padding: 30px 0px;
        margin: 30px 0px;
    }
    .nav-item:hover .nav-link{
        color: #BBBBCB;
    }
    .nav-btn {
	padding: 12px 34px;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	margin-left: 0px;
	display: inline-block;
}
.nav-btn-box{
    text-align: center;
    margin-bottom: 30px;
}


/* Banner part */
.banner h1 {
	font-size: 41px;
	line-height: 58px;
	text-align: center;
}
.banner p {
	font-size: 14px;
	padding-bottom: 39px;
	width: auto;
	text-align: center;
}
.banner .banner-btn {
	padding: 8px 24px;
	font-size: 14px;
	
}
.box {
	justify-content: center;
}
.banner .banner-btn-pricing {
	font-size: 14px;
	
	margin-left: 20px;
	
}
.banner img {
	width: 96%;
}
/* Banner part */
/* Work part */
.common-title h2 {
	font-size: 36px;
	text-align: center;
}
.common-title p {
	font-size: 14px;
	width: auto;
	text-align: center;
}
.work .col-lg-7 h3 {
	font-size: 26px;

	padding-top: 13px;
	padding-bottom: 0px;
}
/* Work part */
.feature .common-title h2 {
	width: auto;
	margin: auto;
	text-align: center;
}

.feature .card .card-text {
	font-size: 14px;
	
	width: auto;
}
  

}
@media (min-width:992px) and (max-width:1199.99px) {

    


/* Banner part */
.banner h1 {
	font-size: 41px;
	line-height: 58px;
	text-align: center;
}
.banner p {
	font-size: 14px;
	padding-bottom: 39px;
	width: auto;
	text-align: center;
}
.banner .banner-btn {
	padding: 8px 24px;
	font-size: 14px;
	
}
.box {
	justify-content: center;
}
.banner .banner-btn-pricing {
	font-size: 14px;
	
	margin-left: 20px;
	
}
.banner img {
	width: 96%;
}
/* Banner part */
/* Work part */
.common-title h2 {
	font-size: 36px;
	text-align: center;
}
.common-title p {
	font-size: 14px;
	width: auto;
	text-align: center;
}
.work .col-lg-7 h3 {
	font-size: 26px;

	padding-top: 13px;
	padding-bottom: 0px;
}
/* Work part */
.feature .common-title h2 {
	width: auto;
	margin: auto;
	text-align: center;
}

.feature .card .card-text {
	font-size: 14px;
	
	width: auto;
}
  

}